@charset "8-UTF";
@import "../common/common.css";

:root {
  --disconnected-color: #B8B8B8;
  --connected-color: #47FA0C;

}

.red-color {
  color: #FA1D1B;
}

.cyan-color {
  color: #12E6E0;
}

.pink-color {
  color: #F76CFF;
}

.orange-color {
  color: #FA8E00;
}

.gray-color {
  color: #A3A3A2;
}

#player-hostname {
  color: var(--purple-color);
}


.box-container {
  position: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: var(--gray-color);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 0px;
}

p,h2 {
  font-size: var(--medium-font-size);
  padding: 0px;
  margin: 0px;
}

#session-pin-text {
  user-select: all;
}

.player-count-container {
  padding: 3px 10px;
  margin: 0px;
}

.player-count-container img{
  width: 2vw;
  height: auto;
  margin-inline: 5px;
}

.player-count-container p{
  padding: 0px;
  margin: 0px;
  font-size: var(--medium-font-size);
  margin-inline: 5px;
}

#host-crown-icon {
  width: 1.5vw;
}

.player-connection-dot {
  font-size: 50px;
  line-height: 0;
  width: 30px;
}

.player-name {
  display: inline-block;
}

.player-connected {
  color: var(--connected-color);
}

.player-disconnected {
  color: var(--disconnected-color);
}

.star-button:hover {
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
}

/* Javascript has to be used to change background on click */
/* .star-button:active {
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
} */

.star-button:disabled {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}
