@charset "8-UTF";
:root {
  --purple-color: #8500FA;
  --yellow-color: #FACE0C;
  --green-color: #47FA0C;
  --dark-yellow-color: #AD9011;
  --dark-green-color: #38AD11;
  --dark-gray-color: rgb(40, 40, 40);
  --gray-color: rgb(230, 230, 230);
  --medium-font-size: 2vw;
}

.box-container {
  position: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: var(--gray-color);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 0px;
}

/* Header navbar */
.homeLogo img {
  width: 20em;
}

.nav-item a {
  font-size: 2em;
  text-align: center;
}

.navbar-toggler-icon{
  padding: 1.3em !important;
}

/* end Header navbar */
.green-color {
  color: var(--green-color);
}

.purple-color {
  color: var(--purple-color);
}

.dark-yellow-color {
  color: var(--dark-yellow-color);
}

.dark-gray-color {
  color: var(--dark-gray-color);
}

.yellow-color {
  color: var(--yellow-color);
}

.dark-green-color {
  color: var(--dark-green-color);
}

.selectable-text-all {
  user-select: all;
}

.selectable-text {
  user-select: text;
}

.unselectable-text {
  user-select: none;
}

.purple-background {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}
