@charset "8-UTF";
:root {
  --purple-color: #8500FA;
  --yellow-color: #FACE0C;
  --green-color: #47FA0C;
  --dark-yellow-color: #AD9011;
  --dark-green-color: #38AD11;
  --dark-gray-color: rgb(40, 40, 40);
  --gray-color: rgb(230, 230, 230);
  --medium-font-size: 2vw;
}

.box-container {
  position: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: var(--gray-color);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 0px;
}
