<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/common/bootstrapcss/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/common/common.css">
  <link rel="stylesheet" href="../../css/helpPage/helpPage.css">
  <script src="../../css/common/botstrapjs/bootstrap.js"></script>
  <link rel="shortcut icon" href="../../img/common/favicon.ico" type="image/x-icon">
  <title>Help - Spot it</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">

        <a class="navbar-brand homeLogo" href="../Homepage/Homepage.html">
          <img src="../../Img/common/spot-it-logo.svg" alt="Spot it logo" class="img-fluid ps-5">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarText">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
              <a class="nav-link active" href="../HelpPage/helpPage.html">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../credits.html">Credits</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="px-5">
    <div class ="d-flex my-3 align-items-center">
      <img src="../../img/helpPage/help_icon.svg" alt="arrow icon" class="help-icon">
      <h1 class="px-4"><b>Help page</b></h1>
    </div>

    <!-- Help Box -->
    <div class="d-flex mb-3 mt-5" onclick="help(0)">
      <section class="box-container py-3 align-items-start">
        <div class="button-and-tittle">
          <img src="../../img/helpPage/angle_right.svg" alt="arrow icon" class="arrow-icon">
          <h1 class="px-3">Game Rules</h1>
        </div>
        <!-- Collapsable -->
        <ul class="hiden mx-4" >
          <li>Place one card face down in the center of the table and deal the rest of the cards face down among the players.</li>
          <li>All players at the same time will try to find a pair of repeating symbols.</li>
          <li>If you find the symbol you say it out loud and discard it in the central pile.</li>
          <li>This will be the card you will use to search for the next symbol.</li>
          <li>The game continues until one of the players runs out of cards. The first to do so wins the game.</li>
        </ul>
      </section>
    </div>
    <h1 class="mt-5" >How To Play</h1>

    <!-- Help Box -->
    <div class="d-flex mb-3 mt-5" onclick="help(1)">
      <section class="box-container py-3 align-items-start">
        <div class="button-and-tittle">
          <img src="../../img/helpPage/angle_right.svg" alt="arrow icon" class="arrow-icon">
          <h1 class="px-3">How To Join</h1>
        </div>
        <!-- Collapsable -->
        <ul class="hiden mx-4" >
          <li>Go to the <a href="../Homepage/Homepage.html">home</a> page.</li>
          <li>Add your name.</li>
          <li>Add the code your friend send you under 'Session pin' tag.</li>
          <li>Click on the 'Join' button.</li>
          <li>Click on 'I'm Ready' button when you are ready.</li>
          <li>Wait for the host to start the game.</li>
          <li>Have fun playing Spot it!</li>
        </ul>
      </section>
    </div>

    <!-- Help Box -->
    <div class="d-flex mb-3 mt-4" onclick="help(2)">
      <section class="box-container py-3 align-items-start">
        <div class="button-and-tittle">
          <img src="../../img/helpPage/angle_right.svg" alt="help icon" class="arrow-icon">
          <h1 class="px-3">How to Create a game</h1>
        </div>
        <!-- Collapsable -->
        <ul class="hiden mx-4" >
          <li>Go to the <a href="../Homepage/Homepage.html">home</a> page.</li>
          <li>Add your name.</li>
          <li>Choose a name for the session and add it under 'Session name' tag.</li>
          <li>Click on the 'Create' button.</li>
          <li>Share you session code with your friends.</li>
          <li>Click on Start when you and your friends are ready.</li>
          <li>Have fun playing Spot it!</li>
        </ul>
      </section>
    </div>
  </div>
</div>


<script type="text/javascript">
  // Show and hide help information for easy access
  function help(position) {
    var text = document.getElementsByClassName('hiden')[position];
    var arrow = document.getElementsByClassName('arrow-icon')[position];
    if (text.style.display === "block") {
      text.style.display = "none";
      arrow.src = "../../img/helpPage/angle_right.svg";
    } else {
      text.style.display = "block";
      arrow.src = "../../img/helpPage/angle_down.svg";
    }
  }
</script>
</body>
