<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>`
  <link rel="stylesheet" href="../css/common/bootstrapcss/bootstrap.css"/>
  <link rel="stylesheet" href="../../css/common/bootstrapcss/bootstrap.min.css">
  <link rel="stylesheet" href="../css/common/common.css"/>
  <link rel="stylesheet" href="../css/credits/credits.css"/>
  <link rel="shortcut icon" href="../../img/common/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 

  <title>Sala de espera - Spot it</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
    
            <a class="navbar-brand homeLogo col-8" href="layout.html">  
              <img src="../Img/common/spot-it-logo.svg" alt="Spot it logo" class="img-fluid ps-5">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarText">
              <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                  <a class="nav-link " href="../views/HelpPage/helpPage.html">Help</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../views/credits.html">Credits</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div id="container-principal">
            <div id="seccion-titulo">
                <p id="titulo">Credits</p>
                <img src="../img/common/magic-crown.svg" id="imagen-corona">
            </div>
            <div id="seccion-creditos">
                <div id="subseccion-imagenes-creditos">
                    <img src="../img/common/pixie1.png" class="imagen-pixies">
                    <img src="../img/common/pixie2.png" class="imagen-pixies">
                </div>
                <div class="credito">
                    <div class="subseccion-key-credito">
                        <p class="key-credito">Diseño Gráfico</p>
                    </div>
                    <div class="subseccion-nombre-credito">
                        <p class="nombre-credito">Fabián Orozco</p>
                    </div>
                </div>
                <div class="credito">
                    <div class="subseccion-key-credito">
                        <p class="key-credito">Programación Backend</p>
                    </div>
                    <div class="subseccion-nombre-credito">
                        <p class="nombre-credito">Manuel Arroyo</p>
                    </div>
                </div>
                <div class="credito">
                    <div class="subseccion-key-credito">
                        <p class="key-credito">Programación Front-End</p>
                    </div>
                    <div class="subseccion-nombre-credito">
                        <p class="nombre-credito">Daniel Escobar Giraldo</p>
                    </div>
                </div>
                <div class="credito">
                    <div class="subseccion-key-credito">
                        <p class="key-credito">Programación Front-End</p>
                    </div>
                    <div class="subseccion-nombre-credito">
                        <p class="nombre-credito">Gabriel Bonilla Rivera</p>
                    </div>
                </div>
                <div class="credito">
                    <div class="subseccion-key-credito">
                        <p class="key-credito">Imagenes</p>
                    </div>
                    <div class="subseccion-nombre-credito">
                        <p class="nombre-credito">Google</p>
                    </div>
                </div>
                
            </div>
            <footer>
                <p id="texto-footer">¡Somos pixies, somos pixies!</p>
            </footer>
        </div>
      </main>