<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html> 
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/common/bootstrapcss/bootstrap.css"/>
  <link rel="stylesheet" href="../css/common/bootstrapcss/bootstrap.min.css">
  <link rel="stylesheet" href="../css/common/common.css"/>
  <link rel="stylesheet" href="../css/gameRoom/gameRoom.css"/>
  <link rel="shortcut icon" href="../img/common/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
  <title>Game room - Spot it</title>
</head>
<body>
    <!--Layout de la página-->
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
    
            <a class="navbar-brand homeLogo" href="../Views/Homepage/Homepage.html">
              <img src="../Img/common/spot-it-logo.svg" alt="Spot it logo" class="img-fluid ps-5">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarText">
              <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                  <a class="nav-link " href="../views/HelpPage/helpPage.html">Help</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/credits.html">Credits</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <!--Contenedor principal de la página-->
    <section class="container-principal">
        <!--Sección del container principal donde se encuentra la lista de jugadores y el cuadro de los eventos-->
        <section id="seccion-izquierda">
            <!--Subsección donde se encuentra la lista de los nombres de los jugadores y su posición dentro de la partida-->
            <section id="subseccion-nombres">
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
                <!--Container que almacena el nombre del jugador y su posición dentro de la partida-->
                <div class="tarjeta-nombres">
                    <div class="nombre-jugador">
                        <p class="h6">Jugador 1</p>
                    </div>
                    <div class="numero-jugador"><p class="h6">1</p></div>
                </div>
            </section>
            <!--Container en el que se encuentra el cuadro de los eventos-->
            <section id="subseccion-eventos">
                <!--Cuadro que muestra los diferentes eventos de la partida-->
                <div id="cuadro-eventos" class="overflow-auto">
                    <div id="titulo-eventos">
                        <p class="h4">Events</p>
                    </div>
                    <!--Lista de eventos de la partida-->
                    <div id="textbox-eventos" class="overflow-auto">
                        <p class="h6 evento"> El Jugador 1 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 2 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 3 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 4 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 5 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 6 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 7 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 8 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 9 realizó x acción</p>
                        <p class="h6 evento"> El Jugador 10 realizó x acción</p>
                    </div>
                </div>
            </section>
        </section>
        <!--Sección del container principal donde se encuentra el container donde están las cartas del juego-->
        <section id="seccion-derecha">
            <a class="btn " href="../views/Leaderboard/Leaderboard.html">Simulacion victoria</a>
            <section id="subseccion-circulos">
                <!--Container que almacena a un círculo, su nombre y la cantidad de cartas en la pila (Circulo Izquierdo)-->
                <div class="columna-circulos">
                    <p class="h2"> Top of the well</p>
                    <!--Carta izquierda-->
                    <div class=" rounded-circle circulo-carta">
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes-laterales">
                                <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes">
                            <img src="../img/common/estrella.png">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes-centro">
                            <img src="../img/common/estrella.png">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes">
                            <img src="../img/common/estrella.png">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes-laterales">
                            <img src="../img/common/estrella.png">
                        </div>
                    </div>
                    <p class="h4"> Cartas restantes: 15</p>
                </div>
                <!--Container que almacena a un círculo y su nombre (Circulo derecho)-->
                <div class="columna-circulos">
                    <p class="h2"> Nombre </p>
                    <!--Carta derecha-->
                    <div class="circulo-carta rounded-circle">
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes-laterales">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes">
                            <img src="../img/common/estrella.png">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes-centro">
                            <img src="../img/common/estrella.png">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes">
                            <img src="../img/common/estrella.png">
                            <img src="../img/common/estrella.png">
                        </div>
                        <!--Container de imagenes de la carta-->
                        <div class="fila-imagenes-laterales">
                            <img src="../img/common/estrella.png">
                        </div>
                    </div>
                    <p class="h4" style="opacity: 0.0;"> Cartas restantes: 15</p>
                </div>
            </section>
        </section>
    </section>
</body>