<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../css/common/bootstrapcss/bootstrap.css"/>
  <link rel="stylesheet" href="../css/common/common.css"/>

  <title>Sala de espera - Spot it</title>
</head>
<body>
  <header>
    <!-- Aqui va el layout -->
  </header>
  <main>
      <section class="container text-center">
        <div class="row">
          <div class="col">
            <h1> 
              <!-- Instead of "Session name", we must put the name given by the host" -->
              <span class="text-muted">The Well/</span><span class="">Session name</span> 
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="player-count-container box-container">
              <img src="../img/common/userIcon.svg" alt="Player icon"/>
              <!-- We get the player count by counting the number of players connected -->
              <p>2</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="session-pin-container">
              <h2>Session pin</h2>
              <div class="box-container">
                1234
              </div>
            </div>
          </div>
          <div class="col">
            
          </div>
        </div>
      </section>
  </main>

</body>
</html>
