<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/common/bootstrapcss/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/common/common.css">
  <link rel="stylesheet" href="../../css/helpPage/helpPage.css">
  <script src="../../css/common/botstrapjs/bootstrap.js"></script>
  <link rel="shortcut icon" href="../../img/common/favicon.ico" type="image/x-icon">
  <title>Spot it - The Well</title>
</head>

<body>
  <div class="px-5">
    <div class ="d-flex my-3 align-items-center">
      <img src="../../img/helpPage/help_icon.svg" alt="arrow icon" class="help-icon">
      <h1 class="px-4"><b>Help page</b></h1>
    </div>

    <!-- Help Box -->
    <div class="d-flex mb-3 mt-5" onclick="help(0)">
      <section class="box-container py-3 align-items-start">
        <div class="button-and-tittle">
          <img src="../../img/helpPage/angle_right.svg" alt="arrow icon" class="arrow-icon">
          <h1 class="px-3">Game Rules</h1>
        </div>
        <!-- Collapsable -->
        <p class="hiden">
          Place one card face down in the center of the table and deal the rest of the cards face down among the players.
          All players at the same time will try to find a pair of repeating symbols.
          If you find the symbol you say it out loud and discard it in the central pile.
          This will be the card you will use to search for the next symbol.
          The game continues until one of the players runs out of cards. The first to do so wins the game.
        </p>
      </section>
    </div>
</div>


<script type="text/javascript">
  // Show and hide help information for easy access
  function help(position) {
    var text = document.getElementsByClassName('hiden')[position];
    var arrow = document.getElementsByClassName('arrow-icon')[position];
    if (text.style.display === "block") {
      text.style.display = "none";
      arrow.src = "../../img/helpPage/angle_right.svg";
    } else {
      text.style.display = "block";
      arrow.src = "../../img/helpPage/angle_down.svg";
    }
  }
</script>
</body>
