<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../css/common/bootstrapcss/bootstrap.css"/>
  <link rel="stylesheet" href="../css/common/common.css"/>
  <link rel="stylesheet" href="../css/waitingRooms/waitingRoom.css"/>


  <title>Sala de espera - Spot it</title>
</head>
<body>
  <header>
    <!-- Aqui va el layout -->
  </header>
  <main>
      <!-- information about the session section -->
      <section class="container text-center">
        <div class="row my-5">
        
          <div class="col">
            <h1> 
              <!-- Instead of "Session name", we must put the name given by the host" -->
              <span class="text-muted">The Well/</span>Session name
            </h1>
          </div>
        
        </div>
        
        <!-- Row with player count, session pin and start button -->
        <div class="row align-items-end my-5">
          
          <div class="col justify-content-start">
            <!-- Player count -->
            <div class="player-count-container box-container ">
              <img src="../img/common/userIcon.svg" alt="Player icon"/>
              <!-- We get the player count by counting the number of players connected -->
              <p>1</p>
            </div>
          </div>

          <!-- Session pin -->
          <div class="col text-center d-flex flex-column justify-content-center align-items-center">
            <h2>Session pin</h2>
            <div class="box-container mt-2">
              <p>1234</p>
            </div>
          </div>
          
          <!-- Start button. Is clickable if all players are ready -->
          <div class="col d-flex justify-content-end">
            <div class="box-container">
              <h2>Start</h2>
            </div>
          </div>
        
        </div>

      </section>

      <!-- sectin with player names and status (waiting for players or ready) -->
      <section class="container">

        <div class="row flex-column text-center justify-content-center">

          <!-- Row with connected player names -->
          <div class="col d-flex text-center flex-row flex-wrap justify-content-center mb-5">
            <div id="player-hostname-crown">
              <p class="mx-3 my-2" id="player-hostname">hostname</p>
            </div>
            <p class="mx-3 my-2">playername1</p>
          </div>

          <!-- box indicating if we are still waiting for players -->
          <div class="col d-flex text-center justify-content-center">
            <section class="box-container">
              <h2>Waiting for players...</h2>
            </section>
          </div>

        </div>

      </section>
  </main>

</body>
</html>
