@import "../common/common.scss";

.PurpleButton {
  .star-button:hover {
    background-color: $yellow;
    border-color: $yellow;
  }
  
  .star-button:disabled {
    background-color: $purple;
    border-color: $purple;
  }
}