@import url("../../css/common/common.css");

/* welcome msg*/
.Welcome-msg u:first-child {
  color: var(--purple-color);
}

.Welcome-msg {
  white-space: nowrap;
  font-size: 5vw;
  width: fit-content;
}

.Welcome-msg u:nth-child(3){ /*reestablece grosor de "spot it"*/
  font-weight: 100;
}

.dec-img-spot-it {
  width: auto;
}
/*end welcome msg*/


/*form*/
.inputName {
  font-size: var(--medium-font-size);

}

.btn-primary {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}

.row .sessions{
  justify-content: space-between;
  flex-wrap: wrap;
}

.sessions .col {
  width: 35em;
}

input::placeholder {
  font-size: 1.3em;
} 
/*end form*/